.container {
    width: 100%;
    display: flex;
}

.results {
    float: left;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: left;
}

img {
    max-width: 50%;
    max-height: 100%;
    height: 22rem;
}

.text {
    padding-left: 15px;
}

.chart {
    float: left;
    width: 45%;
}

// workaround because jquery and ngIf don't work well together
.invisible {
    display: none;
}

.central {
    text-align: center;
    padding: 30px;
}