<div class="outer">
    <div class="buttons">
        <button mat-button (click)="firstQuestion()"><i class="fa fa-angle-double-left"></i></button>
        <button mat-button (click)="previousQuestion()"><i class="fa fa-angle-left"></i></button>
            <span *ngFor="let answer of this.answerService.getAllChosenAnswers()">
                <span *ngIf="this.answerService.isEmpty(answer)">
                     • 
                </span>
                <span *ngIf="!this.answerService.isEmpty(answer)" class="answered">
                     • 
                </span>
            </span>
        <button mat-button (click)="nextQuestion()"><i class="fa fa-angle-right"></i></button>
        <button mat-button (click)="lastQuestion()"><i class="fa fa-angle-double-right"></i></button>
    </div>
    <app-card [question_index]="question_index" (button_clicked)="nextQuestion()"></app-card>
    <a routerLink='/results'>
        <button class="submit-button" *ngIf="this.answerService.checkAnswers()" mat-flat-button color="primary">Submit</button>
    </a>
</div>