.fill-remaining-space {
    flex: 1 1 auto;
}

.mat-flat-button {
    background-color: transparent;
}

.mat-flat-button:hover {
    background-color: white;
    transition-duration: 300ms;
}

.button {
    color: white;
}

.github {
    font-size: 24pt;
    padding-bottom: 5px;
}

.button:hover {
    color: #3f51b5;
}